li {
    font-weight: bold;
}
header.flexipageHeader.slds-page-header.uiBlock.oneAnchorHeader { 
    display: none !important;
}
.slds-page-header{
    display : none !important;
}
.disabled
{
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}