.edit
{
    float: right;
    margin-top: 20px;    
    display: none;
}
.slds-form-element
{
    display: block;
}

.slds-form__item:hover .edit {
    display: block;
}

.form-element {
    position: relative;
}