.tablecls {
    
    width: 25%;
}
.tabHeader {
    color: #024886;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-weight: bold;
}
.tableHeader{
    background-color: green;
}
.slds-modal__footer
{
    margin-top: 0px;
}
.close {
    line-height: 0;
  }